.instruction {
  display: flex;
  justify-content: space-between;
}

.instruction * {
  display: flex;
  align-items: center;
}

.number {
  padding-left: 10px;
}

.words {
  width: 90%;
  text-align: start;
}
