:root {
  --cream: rgb(249, 247, 238);
  --lightGreen: #5dce5d;
  --darkGreen: green;
  --lightPurple: hsl(300, 100%, 64%);
  /* --darkPurple: #d400d4; */
  --darkPurple: #ac00ac;

  --logo: rgb(204 255 194);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
